:root {
  --background-primary: #141e4c;
  --background-secondary: #dfedf5;
  --background-dark: #101d42;
  --background-light: #ffffff;
  --text-primary: #101d42;
  --text-secondary: #fbb44c;
  --text-dark: #2b2922;
  --text-light: #eaeaea;
  --text-white: #ffffff;
  --button-color: #2bb686;
  --fs-large: 1rem;
  --fs-medium: 0.875rem;
  --fs-small: 0.75rem;
  --spacing-xl: 2.625rem;
  --spacing-large: 1.75rem;
  --spacing-medium: 1rem;
  --spacing-small: 0.5rem;
  --spacing-tiny: 0.25rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body,h1,h2,h3,p,ul {
  margin: 0;
  padding: 0;
}

/* Nav section styling */

nav img {
  width: auto;
  height: 60px;
}

nav {
  z-index: 2;
  position: fixed;
  width: 100%;
  background-color: var(--background-primary);
}

.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  min-width: 320px;
  margin: auto;
  padding: var(--spacing-medium);
}

.pages a:hover {
  color: var(--text-secondary);
}

.pages span {
  padding-bottom: var(--spacing-tiny);
  font-size: var(--fs-large);
  /* top: var(--spacing-tiny); */
}

.pages a {
  color: var(--text-light);
  padding: var(--spacing-medium);
  text-decoration: none;
  font-size: var(--fs-small);
  text-transform: uppercase;
}

.drop-down-menu {
  display: none;
  position: absolute;
  background-color: var(--background-dark);
  z-index: 3;
  top: calc(100% - var(--spacing-small));
  left: var(--spacing-medium);
  width: 10rem;
}

nav .about:hover .drop-down-menu {
  display: grid;
}

.pages li {
  position: relative;
}

.pages {
  display: flex;
  list-style: none;
}

/* Title section styling */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  color: var(--text-white);
  background-color: var(--background-primary);
}

.title h1 {
  font-size: 3.5rem;
}

/* Contact section styling  */ 

.container-contact {
  max-width: 1200px;
  min-width: 320px;
  margin: auto;
  padding: var(--spacing-medium);
  color: var(--text-primary);
}

.container-contact h2  {
  text-align: center ;
  color: var(--text-primary);
  margin: var(--spacing-large) 0 ;
  font-size: 1.75rem;
}

.contact-paragraph {
  margin-bottom: var(--spacing-large);
  font-size: var(--fs-medium);
}

.contact-wrapper {
  display: flex;
}

.contact-wrapper ul, .contact-wrapper form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: var(--spacing-medium);
}

.contact-wrapper ul {
  list-style-type: none;
}

.contact-wrapper li {
  display: flex ;
  justify-content: space-between;
  padding-bottom: var(--spacing-small);
  margin-bottom: var(--spacing-large);
  border-bottom: 1px solid #ddd;
}

.material-icons {
  vertical-align: middle;
}

.details  {
  color: #8e8e8e;
  font-size: var(--fs-medium);
  text-decoration: none;
}

.contact-wrapper label {
  color: var(--text-dark);
  font-size: var(--fs-medium);
  margin-bottom: var(--spacing-tiny);
}

form input, form textarea {
  font-size: var(--fs-medium);
  padding: var(--spacing-small);
  margin-bottom: var(--spacing-medium);
  border: 1px solid #ddd;
  border-radius: 5px;
}

form textarea {
  font-family: inherit;
  height: 100px;
}

.submit {
  font-size: var(--fs-medium);
  text-align: center;
  color: var(--text-white);
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 5px;
  padding: var(--spacing-small);
  width: 100px;
}

/* Footer section styling  */

footer {
  background-color: var(--background-primary);
  color: var(--text-light);
}

.container-footer {
  max-width: 1200px;
  min-width: 320px;
  margin: auto;
  padding: var(--spacing-medium);
}

.container-footer p {
  font-size: var(--fs-small);
  text-align: center;
  padding: var(--spacing-medium) 0;
}